.homepage{
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #scroll{
    width: 30px;
  }
}

.homepage-container{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px;

    div{
      min-width: 429.39px;

      h1{
        font-size: 2.7em;
        align-self: flex-start;
        // padding: 150px 0 0 0;
    
      .typing-animation{
        color: $green;
        display: inline;
      }
    }
  }

  img{
    width: 50%;
  }
}

@media only screen and (max-width: 934px) {
  .homepage{
    justify-content: space-between;
  }

  .homepage-container{
    padding: 20px;
  }

  .homepage div img{
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .homepage-container div{
    min-width: 331.47px;
    padding: 0px;

    h1{
      font-size: 2.3em;
    }
  }
}